@tailwind base;
@tailwind components;
@tailwind utilities;


.transistion > div{
  transition: 0.4s all ease-in-out  !important;
}

/* .transistion {
  background: #28282857;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    
} */
.text-clamp{
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.banner .slick-slide{
 padding: 10px 0px;
}

body{
  background: linear-gradient(to bottom, #141b29, #0c111b 700px)
}


.bg_gradient{
  background: linear-gradient(to right, #000000, rgba(0,0,0,0));
}

.bg-nav{
  background: linear-gradient(to bottom, #10192b, #02060d 300px);
}


@media screen and (min-width: 1280px) {
  .banner .slick-slide{
    padding: 10px 0px;
  }
  .header{
    padding: 10px 30px;
  }
}

.content{
 opacity: 0;
 /* background: red; */
 width: 100%;
 transition: 0.30s all ease-in-out;

}
.card_img{
  transition: 0.30s all ease-in-out;
}
.card_img:hover .content{

  background: linear-gradient(to top, #000000, rgba(0,0,0,0));
  width: 100%;
  opacity: 1;
  
}

.card_img:hover{

  transform: scale(0.9) !important;
}

.login_bg{
background: linear-gradient(to top, #000000, rgba(0,0,0,0)), url('./assets/banner.jpg') ;
height: 100vh;
width: 100%;
background-repeat: repeat-y;
animation: scroll 2s infinite alternate ;

}
.bg_new{
  background-color: rgba(0, 0, 0, 0.347);
}
.input-form{
  backdrop-filter: blur(5px);
   
    background-color: rgb(0 0 0 / 15%) !important;
}
/* --BG_GRADIENT_L0: linear-gradient(to bottom, #141b29, #0c111b 300px); */

/* video

{
  width: 100% !important;
  left: 0 !important;
}

.html5-video-player .video-stream {
  width: 100%;
  left: 0;
} */

.profile{
  display: none;
}

.profileshow:hover +.profile{
  display: block;
}

html {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

html::-webkit-scrollbar {
  width: 0px; /* For Chrome, Safari, and Opera */
}

@media screen and (max-width:1286px){
.respo_title{
  display: none;
}
  
}
.react-player__preview{
  background-position: top center !important;
}




.newscroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #1c1c4f;
	border-radius: 10px;
}

.newscroll::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.newscroll::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}